<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%=id%>
        </h1>
        <h3>today's <%=date%>
        </h3>
    </div>

    <div class="box">
        <%newListItem.forEach((i)=>{%>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%=i%>
                </p>
            </div>
            <%})%>
                <form action="/" method="post" class="item">
                    <input type="text" name="newItem" placeholder="new Item" autocomplete="off">
                    <button type="submit" name="button" value=<%=id%>>+</button>
                    <button type="submit" name="reset" value=<%=id%>>-</button>
                </form>
    </div>
    <%- include("footer") -%>